*, *::after, *::before {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    margin: 0.5em;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(6, 112, 243);
    color: rgb(255, 255, 255);
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

main {
    border-radius: 5px;
}

h1 {
    margin: 0.5rem 0;
}

main {
    background-color: rgb(6, 6, 75);
    color: rgb(249, 221, 7);
    background-image: url('wavy.jpg');
    background-size: 100%;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0 0;
    padding: 1em 0 2em;
}

form > * {
    font-family: inherit;
    border-radius: 5px;
    border: none;
}

label, input {
    margin: 0.5em 0;
}

input {
    display: block;
    padding: 0.5rem;
    background-color: rgb(250, 245, 207);
    color:rgb(6, 6, 75)
}

input:focus,
input:hover {
    outline: 2px solid rgb(249, 221, 7);
    box-shadow: inset 2px 2px 2px rgb(173, 173, 248);
    /* rgb(249, 221, 7); */
}

.submit-btn {
    padding: 0.8em 1em 0.8em 0.4em;
    margin-top: 1em;
    text-align: left;
    background-color: rgb(249, 221, 7);
    color: rgb(32, 32, 128);
    font-weight: 800;
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: rgb(32, 32, 128);
    color: rgb(249, 242, 194);
    outline: 3px solid rgb(249, 221, 7);
}

.stats-heading,
.total-el {
    margin-right: 2rem;
    text-align: right;
    font-weight: 600;
    letter-spacing: 1px;
    /* margin-right: 7em; */
}

.stats-heading,
.daily-stat {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid blue;
}

.stats-el {
    background-color: rgb(250, 245, 207);
    color:blue;
    height: 30vh;
    overflow: scroll;
    border-radius: 5px;
    /* display: flex;
    flex-direction: column; */
}