*, *::after, *::before {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    margin: 0.5em;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(6, 112, 243);
    color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    border-radius: 5px;
}

h1 {
    margin-top: 0.5rem;
}

main {
    background-color: rgb(6, 6, 75);
    color: rgb(249, 221, 7);
    background-image: url('wavy.jpg');
    background-size: 100%;
    background-blend-mode:overlay;
    /* <a href="https://www.freepik.com/free-vector/irregular-organic-lines-pattern-background_9406223.htm#query=background%20pattern&position=49&from_view=keyword&track=ais&uuid=7a1a5ca2-f6a8-48da-a4ff-9d0720b4f519">Image by starline</a> on Freepik */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0 2em;
}

form > * {
    font-family: inherit;
    border-radius: 5px;
    border: none;
}

label, input {
    margin: 0.5em 0;
}

input {
    display: block;
    padding: 0.5rem;
}

input:focus,
input:hover {
    outline: 3px solid rgb(249, 221, 7);
}

.submit-btn {
    padding: 0.8em 1em 0.8em 0.4em;
    margin-top: 1em;
    text-align: left;
    background-color: rgb(245, 225, 225);
    color: rgb(32, 32, 128);
    font-weight: 800;
}

.submit-btn:hover,
.submit-btn:focus {
    color: rgb(245, 225, 225);
    background-color: rgb(32, 32, 128);
    outline: 3px solid rgb(245, 225, 225);
}

.stats-heading,
.total-el {
    margin-right: 2rem;
    text-align: right;
    font-weight: 600;
    letter-spacing: 1px;
    /* margin-right: 7em; */
}

.stats-heading,
.daily-stat {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid blue;
}

.stats-el {
    background-color: rgb(245, 225, 225);
    color:blue;
    height: 30vh;
    overflow: scroll;
    border-radius: 5px;
    /* display: flex;
    flex-direction: column; */
}